<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogserver.mapper.ThumbsUpStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.blogserver.entity.ThumbsUpStatistics">
        <id column="blog_Id" property="blogId" />
        <result column="title" property="title" />
        <result column="uid" property="uid" />
        <result column="one_day" property="oneDay" />
        <result column="two_day" property="twoDay" />
        <result column="three_day" property="threeDay" />
        <result column="four_day" property="fourDay" />
        <result column="five_day" property="fiveDay" />
        <result column="six_day" property="sixDay" />
        <result column="seven_day" property="sevenDay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        blog_Id, title, uid, one_day, two_day, three_day, four_day, five_day, six_day, seven_day
    </sql>

</mapper>
